
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
new world.txt.txt
world.txt.txt
world.txt.txt
*.txt
.vs/Arash/FileContentIndex/ba7191c7-582c-4534-b546-d6b47e5a5a90.vsidx
world.txt.txt
*.txt
.vs/Arash/v17/.wsuo
